@import "src/2d/style/vars.scss";


@font-face {font-family: "Suisse Int'l"; src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.eot"); src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff") format("woff"), url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.svg#Suisse Int'l") format("svg"); }

*{
  font-family: "Suisse Int'l";
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 550vh;
  overflow-x: hidden;
}

#scene-3d {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  canvas {
    position: absolute;
    z-index: 1;
  }
  
}


tntwnt-app{
  pointer-events: all;
}


a, button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}



// Modyfiying the CSS of the scrollbar
*::-webkit-scrollbar {
  background-color: $primary-color;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 16px;
  border: 1px solid #fff;
}

*::-webkit-scrollbar-button {
  display: none;
}

