<section class="tn-brok-container">
    <div>
        <div>
            <h1>Brokage</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nostrum, quisquam adipisci consectetur excepturi perferendis beatae officiis illum nihil labore ipsa porro similique deleniti architecto eum itaque harum! Rerum, ipsa.</p>
            <tntwnt-explore-btn></tntwnt-explore-btn>
        </div>
    </div>
</section>