<div id="tntwnt-hero-section">
    <div id="tntwnt-hero-section-breadcrumbs">
        <p>Home / Solutions</p>
    </div>
    <div id="tntwnt-hero-section-content">
        <div>
            <h1>Solutions</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ea tempora culpa deleniti maxime inventore ipsum soluta.</p>
        </div>
    </div>
    <canvas id="tntwnt-hero-section-canvas"></canvas>
</div>