#tntwnt-hero-section {
  position: relative;
  height: 40rem;
  background-color: #18414e;
  position: relative;
  width: 100%;

  #tntwnt-hero-section-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
#tntwnt-hero-section-breadcrumbs{
  position: absolute;
  inset-block-start: 23%;
  inset-inline-start: 7%;
  color: white; 
}

#tntwnt-hero-section-content{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  width: 50%;
  height: 100%;
  
  & > div{
    width: 73%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    *{
      margin: 0;
    }
    h1{
      color: white;
      font-size: 3.5rem;
    }
    p{
      color: #d1d9dc;
      font-size: .85rem;
    }
  }
}
