@mixin tntwnt-section($dir: "left") {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    
    @if $dir == "right"{
        flex-direction: row-reverse;
    }

    & > div{
      width: 50%;
      padding: 1rem;
  
      & > div{
        display: flex;
        flex-direction: column;
        row-gap: 1.3rem;
        padding-inline-start: 5rem;
        *{
          margin: 0;
        }
        h1{
          font-size: 2.7rem;
        }
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
  