<button id="tnt-explore-btn-container" class="explore-btn-secondary">
    Explore 
    <span>
        <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.792 6L21.0185 0.226499L15.245 6L21.0185 11.7735L26.792 6ZM-9.18749e-08 7L21.0185 7L21.0185 5L9.18749e-08 5L-9.18749e-08 7Z" fill="white"/>
        </svg>
    </span>
</button>