@import "src/2d/style/button.scss";
@import "src/2d/style/vars.scss";


#tnt-explore-btn-container{
    &[secondary]{
        @include tntwnt-secondary-btn();
        svg{
            path{
                fill: $primary-color;
    
            }
        }    
    }
    &:not([secondary]){
        @include tntwnt-primary-btn();
    }
    display: flex;
    align-items: center;
    font-weight: 500;
    column-gap: .5rem;
    position: relative;
    
    span{
        height: .6rem;
        display: flex;
        align-items: center;
    }

    svg{
        height: 100%;
        object-fit: contain;
    }
}