@import "src/2d/style/button.scss";


#header-container{
    width: calc(100vw - 3rem);
    padding: 1rem 1rem 0;
    position: relative;
    height: fit-content;
    
    nav{
        height: 2.5rem;
        background-color: blue;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: white;
        
    }
}

#header-logo{
    height: 100%;
    inset-inline-start: 2.5rem;
    position: absolute;
    display: flex;
    align-items: center;

    a{
        max-height: 100%;
        height: 3rem;
        object-fit: cover;
    }
}
#header-links{
    display: flex;
    align-items: ce1nter;
    justify-content: center;
    column-gap: 3rem;

    a{
        cursor: pointer;
        font-weight: 600;
    }
}


#header-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    inset-inline-end: 2rem;
    position: absolute;

    span{
        width: 1.2rem;
        cursor: pointer;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
}