<div id="header-container">
    <nav>
        <div id="header-logo">
            <tntwnt-logo></tntwnt-logo>
        </div>
        <div id="header-links">
            <a>
                The Firm
            </a>
            <a>
                Solutions
            </a>
            <a>
                News & Insights
            </a>
            <a>
                Careers
            </a>
            <a>
                Locations
            </a>

        </div>

        <div id="header-btns">
            <span>
                <img src="../../../../assets/icons/magnifier.svg" alt="">
            </span>
            <tntwnt-speak-expert-btn></tntwnt-speak-expert-btn>
        </div>
    </nav>
</div>