@import "src/2d/style/vars.scss";


@mixin tntwnt-button {
    padding: 1rem;
    border: none;
    cursor: pointer;
}

@mixin tntwnt-primary-btn {
    @include tntwnt-button();
    background-color: $primary-color;
    color: white;
}

@mixin tntwnt-secondary-btn {
    @include tntwnt-button();
    background-color: $secondary-color;
    color: $primary-color;
}