<footer id="footer-container">
    <div id="footer-upper">
        <div id="footer-logo">
            <tntwnt-logo></tntwnt-logo>
        </div>
        <div id="footer-links">
            <div>
                <a>The Firm</a>
                <a>Solutions</a>
                <a>News & Insights</a>
                <a>Locations</a>
                <a>Careers</a>
                <a>
                    <img src="../../../../assets/icons/linkedin.svg" alt="">
                </a>
            </div>
        </div>

        <div id="footer-know-more">
            <p id="footer-know-more-title">What To Know More ?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci praesentium ratione necessitatibus</p>
            <tntwnt-speak-expert-btn></tntwnt-speak-expert-btn>
        </div>
    </div>
    <div id="footer-down">
        <div id="footer-describtion">
            <p>
                Wethaq (Capital Market) Ltd is a Limited liability company registered with the Dubai International Finance Center (DIFC) with Company Regestrition No. 3254 and regulated by the Dubai Financial Service Authority (DFCA) under DFSA Reference Number F005322.
                <br>
                Wethaq Capital Platform JSC operates under an Expermintal Permit from the Capital Market Authority (CMA). Wethaq Solution Ltd is a Limited liability company registerd in the United Kingdom.
            </p>
        </div>
        <div id="footer-legal">
            <p>
                © 2022 Wethaq. All rights reserved
            </p>
            <div id="footer-policy">
                <a>Terms & Conditions</a>
                <p>|</p>
                <a>Privacy Policy</a>
            </div>
            <p>
                Made With <span>❤</span> by tentwenty
            </p>
        </div>
    </div>
</footer>