@import "src/2d/style/vars.scss";


#footer-container{
    background-color: white;
    width: 100%;
}

#footer-upper{
    display: flex;
    height: 22rem;
    border-bottom: 1px solid lightgrey;
    & > div{
        width: calc(100% / 3);
    }
}

#footer-logo, #footer-links{
    padding-top: 4rem;
}

#footer-logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img{
        width: 7rem;
    }
}

#footer-links{
    display: flex;
    & > div{
        margin: 0 auto;
        display: flex;
        row-gap: 1rem;
        font-size: 1.3rem;
        align-items: flex-start;
        flex-direction: column;
        font-weight: 600;
        img{
            width: 1.5rem;
        }
    }
}

#footer-know-more{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c2dee8;
    height: 100%;
    padding: 0 2rem;
    row-gap: 1rem;
    p{
        margin: 0;
        text-align: center;
        color: black;
        font-weight: 600;
    }
    #footer-know-more-title{
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
    }
    tntwnt-speak-expert-btn{
        margin-top: 1rem;
    }
}

#footer-describtion{
    padding: 2rem 5rem;
    p{
        font-size: .8rem;
        padding-inline-end: 10rem;
        color: grey;
        margin: 0;
    }
}

#footer-legal{
    display: flex;
    justify-content: space-around;
    font-size: .7rem;
    color: $primary-color;
    font-weight: bolder;
    #footer-policy{
        display: flex;
        align-items: center;
        column-gap: .5rem;
    }
}